.container {
  margin: auto;
  max-width: 700px;
}

.done {
  text-decoration: line-through;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1{
  color: #D3B8BA;
  font-size: 3rem;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  padding: 15px;
  margin-top: 15px;
}

.card {  
  max-width: 42rem;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
  background-color: #4e4e4e8e;
  color: #D3B8BA;
}

.card:hover{
  background-color: #593154;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.addButton {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border: none;
  background-color: #f75f8c;
  color: white;
  border-radius: 25px;
}

.addButton:hover {
  background-color: #de2d66;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.cardModal {
  width: 18rem;
  height: 8rem;
  padding: 20px;
  background-color: #302f2f8e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textInput {
  width: 13rem;
  height: 2rem;
  margin-right: 20px;
  font-size: 1rem;
}

.add {
  width: 3rem;
  height: 2rem;
  border: none;
  border-radius: 10%;
  background-color: #f75f8c;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.add:hover{
background-color: #de2d66;
}